.email-component{
    width:100%;
    height:6%;
    border: 0.1px solid black;
    display: flex;
    /* background-color: rgb(39, 139, 19); */
}
.email-component:hover{
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.email-component .email-content{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: row;
}
.email-component .email-content div{
    width:30%;
}
.email-component button{
    width:2.5%;
    height:90%;
    margin:1px;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    border:none;
}
.email-component button:hover{
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.email-component button:active{
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
}

.email-component button img{
    width:17px;
    height:17px;
    object-fit: contain;
}

.email-component .bin{
    margin-left:auto;
}